<template name="header">
  <header class="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-random"></span>&nbsp;
            <strong>Parking Lot</strong>
          </a>
          <a href="#" class="header__signin-button btn btn-success btn-raised navbar-btn pull-right">Sign In</a>
        </div>
      </div>
    </nav>
  </header>
</template>
