<template name="parkingLot">
  <div class="list-group-item parking-lot">
    <div class="row-action-primary">
      {{#if isFree}}
         <i class="material-icons parking-lot__icon"><span class="glyphicon glyphicon-flag"></span></i>
      {{else}}
        <i class="material-icons parking-lot__icon parking-lot__icon--premium"><span class="glyphicon glyphicon-check"></span></i>
      {{/if}}
    </div>
    <div class="row-content">
      <div class="least-content">{{name}}</div>
        <h4 class="list-group-item-heading">
          {{#if isFree}}
            It's Free!
          {{else}}
            {{#if info.isPremium}}
              <span class="parking-lot__license parking-lot__license--premium">{{info.license}}</span>
              <i class="material-icons parking-lot__star">star</i>
            {{else}}
              <span class="parking-lot__license">{{info.license}}</span>
            {{/if}}
          {{/if}}
        </h4>
      {{#if isCurrentUser}}
        <a href="#" class="leave-it btn btn-raised btn-danger">Leave it</a>
      {{else}}
        {{#if info.isPremium}}
          <p class="list-group-item-text">{{info.fullname}}</p>
        {{else}}
          {{#if currentUser}}
            {{#if isFreeOrImPremium}}
              {{#if isFree}}
                <a href="#" class="take-it btn btn-raised btn-default">Take it</a>
              {{else}}
                <a href="#" class="claim-it btn btn-raised btn-primary">Claim it</a>
              {{/if}}
            {{else}}
              <p class="list-group-item-text">{{info.fullname}}&nbsp;</p>
            {{/if}}
          {{else}}
            <p class="list-group-item-text">{{info.fullname}}&nbsp;</p>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="list-group-separator"></div>
</template>
