.list-group .list-group-item {
  padding: 0;
}

.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i {
  font-size: 40px;
}

.list-group .list-group-separator:before {
  width: 100%;
}
